@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins';
  font-size: 20px;
}

label {
  font-weight: 500;
}

input {
  box-sizing: border-box;
  border-width: 1px;
  border-color: #878787;
  width: 390px;
  margin-bottom: 15px;
}

h2 {
  font-weight: 600;
}